* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    padding: 2;
    background-color: rgb(246, 233, 206);
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 30px;
    margin-bottom: 2px;
    text-align: center;
    padding: 10px 30px;
}

h2 {
    font-size: 60px;
    margin-bottom: 4px;
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 28px;
    margin-bottom: 8px;
    padding: 10px;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 8px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

img {
    width: 300px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 40px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.buttons {
    margin: 30px 0;
    text-align: center;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(238, 202, 134);
    border-color: rgb(164, 113, 52);
    font-size: 1rem;
    border-radius: 20px;
}

.buttons button:hover {
    background-color: #f6dba2;
}
