/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
.absolute-image {
    width: 85px;
    display: inline-block;
    margin: 54px 36px;
    border: 2px solid #000000;
    text-align: left;
    padding: 2px;
    background-color: black;
    box-shadow: 2px 2px black;
}
.absolute-image2 {
    width: 75px;
    display: inline-block;
    margin: 24px;
    text-align: center;
    padding: 2px;
    background-color: rgb(171, 84, 98);
    box-shadow: 2px 2px pink;
}
.absolute-image3 {
    width: 75px;
    display: inline-block;
    margin: 54px 36px;
    border: 6px solid rgb(0, 0, 0);
    text-align: right;
    padding: 2px;
    background-color: black;
}

.TGIF-poster {
    background-color: rgb(129, 39, 135);
    width: 150px;
    padding: 25px;
    display: inline;
    text-align: center;
    border: 6px solid black;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}