* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(to right, #daf5ee, #e3eefb);
}

#navbar {
    background-color: #8398c0;
    padding: 10px;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: rgb(13, 4, 42);
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

#navbar img {
    width: 125px;
    margin: 16px;
    padding: 10px;
}

#navbar #logo {
    margin-right: auto;
    justify-content: space-between;
}

#photo-heading {
    font-family: segoe script;
}

#hero1 {
    background-image: url("../images/GL--14.jpg");
    height: 80vh;
    background-size:cover ;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    position: relative;
}

#hero1 .hero-content {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 100px;
}

#hero1 h2 {
    font-size: 60px;
    margin-bottom: 12px;
    text-align: right;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero1 h1 {
    font-size: 30px;
    margin: 0px;
    color: rgb(209, 200, 253);
}

#hero1 a {
    font-size: 12px;
    margin-bottom: 12px;
    text-align: top-right;
    font-weight: bold;
    color: rgb(30, 25, 25);
    position: absolute;
    top: 100px;
    right: 30px;
    text-decoration: none;
}

#hero-2 {
    background-color: rgb(240, 234, 220);
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-2 .hero-content {
    text-align: center;
    color: rgb(241, 245, 141);
    padding-top: 10px;
}

#hero-2 h1 {
    font-size: 40px;
    margin-bottom: 6px;
    text-align: center;
    font-weight: bold;
    color: rgb(236, 182, 182);
}

#hero-2 h2 {
    font-size: 40px;
    margin-bottom: 6px;
    text-align: center;
    font-weight: bold;
    color: darkgreen;
}

#hero-2 ul {
    color: darkgreen;
    font-size: 24px;
}

#hero-2 h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}

#hero-2 h3 {
    text-align: center;
    font-size: 20px;
}

#hero-2 img {
    width: 600px;
    align-items: center;
    border-radius: 10px;
}

#footer {
    background: #859ac2;
    color: white;
    padding: 30px;
    width: 100%;
    margin: 5px auto;
    font-size: 18px;
}

#footer h1 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px;
    font-size: 20px;
}

#footer-navbar {
    width: 600px;
    margin: 0px auto;
    display: flex;
}

#footer img {
    width: 20px;
    align-items: center;
}

h1 {
    color: #333;
    font-family: segoe script;
}

.gallery {
    column-count: 2;
    column-gap: 60px;
    padding: 10px;
    width: fit-content;  
    max-width: 800px;
    margin: 0 auto;
}

.gallery img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    cursor: pointer;
    max-width: 400px;
    margin-bottom: 15px;
}

.gallery img:hover {
    transform: scale(1.05);
}

.special-headings {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
}

.special-headings h1 {
    background: lightblue;
    padding: 10px;
    border-radius: 5px;
    max-width: 500px;
    margin: 60px;
    text-align: center;
    margin-bottom: auto;
}

.special-headings p {
    display: inline-block;
    padding: 20px 20px;
    margin: 90px;
    background: #cbe3db;
    border-radius: 6px;
    max-width: 450px;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-family: palatino linotype;
}

.story-box {
    max-width: 1500px;
    text-align: center;
    font-size: 20px;
    font-family: segoe script;
    margin: 0 auto;
    padding: 20px;
}

.hidden p {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden h4 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 50px;
}

