* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: whitesmoke;
    color: #111111;
}

/* grid container */
#grid-layout {
    display: grid;
    grid-template-areas: 
        "header header header"
        "col-1 col-2 col-3";
    grid-template-columns: 200px 550px 1fr;
    
}

/* grid item */
#column-1 {
    grid-area: col-1;
    background-color: whitesmoke;
    padding: 20px;
}

#column-2 {
    grid-area: col-2;
    background-color: rgb(230, 229, 229);
    color: rgb(0, 0, 0);
    text-align: center;
}

#column-3 {
    grid-area: col-3;
    background-color: whitesmoke;
}

#header {
    grid-area: header;
    background-color: rgb(225, 225, 225);
}

#column-1 img {
    width: 150px;
    padding: 10px;
    border-radius: 30px;
}

#column-2 img {
    width: 500px;
    height: 450px;
    border-radius: 4px;
}